*{
	scroll-behavior: smooth;
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
}
body{
	position: relative;
}
h3,p{
	font-family: roboto;
}

.fullPage{
	height: calc(100vh - 68px);		
}
.framePerson{
	background-color: rgba(245,128,62,1);
	color: #fff;
	border-radius: 20px;
	padding: 20px 30px;
	display: inline-block;
	margin-bottom: 20px;
}
section{
	position: relative;		
	scroll-margin-top: 68px;
	margin: 0 20px;
}
.content-center{
	display: block;
	top: 45%;
}
#navbarSupportedContent{	
	justify-content: right;
}
#intro{
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(0deg, rgba(245,128,62,0.7) 0%,  rgba(245,128,62,0.5) 50%, rgba(245,128,62,0.7) 100%),
	url("../img/pexels-kevin-ku-577585.jpg");
	background-attachment: fixed;	
}
.parallax-1{
	background-image: url("../img/pexels-hitesh-choudhary-879109.jpg");
	height: 35vh;
	width: 100%;
	margin-left: 0;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.parallax-2{
	background-image: url("../img/pexels-lumn-316465.jpg");
	height: 45vh;
	width: 100%;
	margin-left: 0;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#logo-cv{
	border-radius: 50%;
	height: 90px;
	position: relative;
	top: 150px;
}
#mySelf{
	background-color: rgba(245, 129, 62, 0.5);
}
.font-Permanent-Marker{
	font-family: 'Permanent Marker', cursive;	
}

.nav-pills .nav-link, #navbar > a{
	color: rgba(245,128,62,1);
}

.nav-pills .nav-link.active, 
.nav-pills .nav-link.active, .nav-pills .show > .nav-link,
.dropdown-item.active, .dropdown-item:active{
	background-color: rgba(245,128,62,1);
	color:#fff;
}
#informatiqueLanguages {
	width:100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
#softSkills{
	margin-top: 15px;
	margin-bottom: 15px;
}
#softSkills li{
	list-style: none;
}
#informatiqueLanguages{
	background-color: #fff;
	border-radius: 30px;
	padding: 0px;
}
#informatiqueLanguages img{
	height: 80px;
	/* width: 80px; */
	margin: 10px;	
	flex-wrap: wrap;
	scale: 1;
	top:0;
	transition: all 1s;
}
#informatiqueLanguages img:hover{
	scale: 1.4;
	top: -15px;
}
#skills{
	background-color: rgb(226, 226, 226);
}
#skills li{
	list-style: none;
	padding: 5px 0;
}
#skills .col-md{
	background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url("../img/column.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 2px rgba(245,128,62,0.6);
	margin: 5px 10px;
	scale: 1;
	transition: all 0.5s;
}
#skills .col-md:hover{	
	scale: 1.1;
	background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),url("../img/column.png"), rgba(255, 255, 255, 1);
	box-shadow: 1px 10px 5px 10px rgba(245,128,62,0.6);
}
#english{
	border-radius: 20px;
	padding: 15px 15px 0 15px;
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)),url("../img/english-flag.png");
	background-size: auto;
	background-position: center;
	transition: all 1s;
}
#english div{
	opacity: 1;	
	transition: all 0.3s;
}
#english:hover {
	background: url("../img/english-flag.png");
	background-size: auto;
	background-position: center;
}
#english:hover div{
	opacity: 0;
}
.modal-content{
	border-radius: 10px !important;
}
.modal .modal-body h5{
	text-decoration: underline;
}
.modal li{
	list-style: circle;
	margin-left: 15px;
}
.modal .modal-footer button{
	background-color: #F5803E;
	color: #fff;
}
.modal .modal-header, .modal .modal-header button{
	background-color: #F5803E;
	color: #fff;
	opacity: 1;
}

/* animation CV */
#logo-cv{
	width: 100px;
	height: 100px;
	animation-name: vibrate;
	animation-duration: 3s;
	animation-timing-function: ease;	
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
}
@keyframes vibrate {
	0%{
	  -webkit-transform: translate(0);
	  transform: translate(0);
	}
	3%{
	  -webkit-transform: translate(-2px,-2px);
	  transform: translate(-2px,-2px);
	}
	6%{
	  -webkit-transform: translate(2px,-2px);
	  transform: translate(2px,-2px);
	}
	9%{
	  -webkit-transform: translate(-2px,2px);
	  transform: translate(-2px,2px);
	}
	12%{
	  -webkit-transform: translate(2px,2px);
	  transform: translate(2px,2px);
	}
	15%{
	  -webkit-transform: translate(-2px,-2px);
	  transform: translate(-2px,-2px);
	}
	18%{
	  -webkit-transform: translate(2px,-2px);
	  transform: translate(2px,-2px);
	}
	21%{
	  -webkit-transform: translate(-2px,2px);
	  transform: translate(-2px,2px);
	}
	24%{
	  -webkit-transform: translate(-2px,-2px);
	  transform: translate(-2px,-2px);
	}
	27%{
	  -webkit-transform: translate(2px,-2px);
	  transform: translate(2px,-2px);
	}
	30%{
	  -webkit-transform: translate(0);
	  transform: translate(0);
	}
  }


/* time line */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  * {
	box-sizing: border-box;
  }
  
  body {
	font-family: 'Open Sans', sans-serif;
  }
  
  .wrapper {
	width: 95%;
	margin: 0 auto;
	margin-top: 40px;
  }
  
  .timeline-sec {
	 padding: 80px 0 10px 0;
  }
  
  .timeline-row {
	 display: flex;
	 justify-content: flex-start;
	 flex-wrap: wrap;
	 padding-bottom: 130px;
	 position: relative;
  }
  
  .timeline-box {
	 width: 33.33%;
	 position: relative;
  }
  
  .timeline-box::after {
	 position: absolute;
	 top: 0;
	 left: 50%;
	 transform: translate(50%, -50%);
	 -webkit-transform: translate(50%, -50%);
	 content: "";
	 background-image: url('../img/left-arrow.png');
	 width: 40px;
	 height: 40px;
	 background-repeat: no-repeat;
  }
  
  .timeline-row::after {
	 position: absolute;
	 width: 40px;
	 height: 40px;
	 content: "";
	 background-image: url('../img/left-arrow.png');
	 background-repeat: no-repeat;
	 right: 0;
	 top: 50%;
	 z-index: 3;
	 transform: translate(50%, -50%) rotate(90deg);
	 -webkit-transform: translate(50%, -50%) rotate(90deg);
  }
  
  .timeline-row:nth-child(2n+2)::after {
	 right: auto;
	 left: 0;
	 transform: translate(-50%, -50%) rotate(90deg);
	 -webkit-transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .timeline-row:nth-child(2n+2) .timeline-box::after {
	 transform: translate(50%, -50%) rotate(180deg);
	 -webkit-transform: translate(50%, -50%) rotate(180deg);
	 left: -50%;
  }
  
  .timeline-row:nth-child(2n+2) .timeline-box:nth-child(3)::after {
	 display: none;
  }
  
  .timeline-row:nth-child(2n+2) {
	 justify-content: center;
	 padding-left: 6%;
  }
  
  .timeline-row:nth-child(2n+2) .timeline-box {
	 width: 30%;
  }
  
  .timeline-row:nth-child(2n+2) .timeline-box p {
	 width: 76%;
  }
  
  .timeline-row:first-child .timeline-box:first-child h6::after {
	 width: 120%;
	 height: 120%;
	 content: "";
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 background: transparent;
	 border-radius: 100%;
	 z-index: 0;
	 border: 2px solid #f5803e;
	 transform: translate(-50%, -50%);
	 -webkit-transform: translate(-50%, -50%);
  }
  
  .timeline-row:first-child .timeline-box:first-child h6 {
	 background-color: #f5803e;
	 border: 10px solid #fff;
	 color: #fff;
  }
  
  .timeline-box h6 {
	 position: relative;
	 color: #f5803e;
	 border: 2px solid #f5803e;
	 width: 104px;
	 height: 104px;
	 border-radius: 100%;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background-color: #fff;
	 margin-top: -53px;
  }
  
  .timeline-box p {
	 background-color: rgba(245,128,62,0.5);
	 padding: 33px 40px;
	 font-size: 16px;
	 color: #000000;
	 font-weight: 400;
	 line-height: 1.6;
	 width: 65%;
	 margin: 24px 0 0 50px;
	 position: relative;
	 text-align: center;
	 cursor: pointer;
  }
  
  .timeline-box p::before {
	 width: 0;
	 height: 0;
	 border-bottom: 15px solid rgba(245,128,62,0.5);
	 border-right: 17px solid transparent;
	 position: absolute;
	 top: -15px;
	 left: 0;
	 content: "";
  }

  .timeline-box div{	  
	  display: inline-block;
	  text-align: center;
	  width: 100%;
  }
  .timeline-box >div img{	  
	height: 50px;
	width: 150px;
  }
  .timeline-box p img{
	  height: 30px;
	  position: absolute;
	  bottom: 5px;
	  right: 5px;
  }
  
  .timeline-row:last-child {
	 justify-content: center;
	 position: relative;
	 padding-bottom: 70px;
  }
  
  .timeline-row:last-child::after {
	 position: absolute;
	 top: 0;
	 left: 3%;
	 width: 47%;
	 height: 0;
	 content: "";
	 background-color: transparent;
	 background-image: none;
	 transform: none;
	 z-index: 0;
	 border-top: 2px dotted #f5803e;
  }
  
  .timeline-row:nth-last-child(1):nth-child(even):after {
	 right: 3%;
	 left: initial;
  }
  
  .timeline-row:last-child .timeline-box::after {
	 display: none;
  }
  
  .timeline-row:last-child .timeline-box {
	 width: auto;
	 z-index: 1;
  }
  
  .timeline-row:last-child .timeline-box h6 {
	 font-size: 15px;
	 text-transform: uppercase;
	 color: #fff;
	 background-color: #f5803e;
	 border: 0;
	 width: 80px;
	 height: 80px;
	 margin-top: -44px;
  }
  
  .timeline-sec .local-solutions-txt {
	 font-size: 24px;
  }
  
  .timeline-row .horizontal-line {
	 border-top: 2px dotted #f5803e;
	 width: calc(100% - 100px);
	 margin: 0 auto;
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 z-index: -1;
  }
  
  .timeline-row .verticle-line {
	 margin: 0;
	 padding: 0;
	 width: 2px;
	 border-right: 2px dotted #f5803e;
	 height: calc(100% - 100px);
	 position: absolute;
	 top: 0;
	 right: 0;
	 margin: auto 0;
	 bottom: 0;
  }
  
  .timeline-row:nth-child(2n+2) .verticle-line {
	 left: 0;
	 right: inherit;
  }
  
  .corner {
	 position: absolute;
	 border-right: 2px dotted #f5803e;
	 width: 50px;
	 height: 50px;
	 right: 0;
	 border-top: 2px dotted #f5803e;
	 top: 0px;
	 border-radius: 0 70px 0 0;
  }
  
  .corner.bottom {
	 bottom: -2px;
	 top: inherit;
	 border-radius: 0;
	 border-top: 0;
	 border-bottom: 2px dotted #f5803e;
	 border-radius: 0 0 70px 0;
	 right: 0;
  }
  
  .timeline-row:nth-child(2n+2) .corner {
	 right: inherit;
	 left: 0;
	 border-left: 2px dotted #f5803e;
	 border-right: 0;
	 border-radius: 70px 0 0 0;
  }
  
  .timeline-row:nth-child(2n+2) .corner.bottom {
	 border-radius: 0 0 0 70px;
  }
  
  .timeline-row:nth-child(2n+2) {
	 flex-direction: row-reverse;
  }
  
  
  /*****************************************/
  /************** Responsive ***************/
  /*****************************************/
  
  @media screen and (max-width: 1800px) {
	 .timeline-box p {
		width: 75%;
	 }
	 .timeline-row:nth-child(2n+2) .timeline-box p {
		width: 83%;
	 }
  }
  
  @media screen and (max-width: 1600px) {
	 h1 {
		font-size: 64px;
	 }
	 h2 {
		font-size: 50px;
	 }
	 h3 {
		font-size: 40px;
	 }
	 h4 {
		font-size: 34px;
	 }
	 h5 {
		font-size: 30px;
	 }
	 h6 {
		font-size: 24px;
	 }
	 p,
	 li {
		font-size: 20px;
	 }
	 .timeline-box p {
		width: 80%;
		padding: 30px;
	 }
	 .timeline-box h6 {
		width: 100px;
		height: 100px;
		margin-top: -50px;
	 }
	 .timeline-row:nth-child(2n+2) .timeline-box p {
		width: 86%;
	 }
	 .timeline-row:nth-child(2n+2) {
		padding-left: 4%;
	 }
  }
  
  @media screen and (max-width: 1400px) {
	 h1 {
		font-size: 56px;
	 }
	 h2 {
		font-size: 46px;
	 }
	 h3 {
		font-size: 36px;
	 }
	 h4 {
		font-size: 30px;
	 }
	 h5 {
		font-size: 26px;
	 }
	 h6 {
		font-size: 21px;
	 }
	 p,
	 li {
		font-size: 18px;
	 }
	 .timeline-box h6 {
		width: 90px;
		height: 90px;
		margin-top: -46px;
	 }
	 .timeline-box p {
		width: 80%;
		padding: 25px;
		margin: 20px 0 0 40px;
		font-size: 15px;
	 }
	 .timeline-row {
		padding-bottom: 110px;
	 }
	 .timeline-row:last-child {
		padding-bottom: 60px;
	 }
	 .timeline-sec {
		padding: 20px 0 90px 0;
	 }
	 .timeline-box::after,
	 .timeline-row:nth-child(2n+2)::after,
	 .timeline-row::after {
		width: 34px;
		height: 34px;
		background-size: 100%;
	 }
	 .timeline-row:last-child::after {
		left: 4%;
		width: 46%;
	 }
	 .timeline-row:nth-last-child(1):nth-child(even):after {
		right: 4%;
		left: initial;
	 }
	 .timeline-row:last-child .timeline-box h6 {
		margin-top: -41px;
	 }
  }
  
  @media screen and (max-width: 1199px) {
	 h1 {
		font-size: 50px;
	 }
	 h2 {
		font-size: 40px;
	 }
	 h3 {
		font-size: 31px;
	 }
	 h4 {
		font-size: 28px;
	 }
	 h5 {
		font-size: 24px;
	 }
	 h6 {
		font-size: 20px;
	 }
	 .timeline-sec {
		padding: 10px 0 90px 0;
	 }
	 .timeline-box p {
		padding: 20px;
		font-size: 14px;
	 }
	 .timeline-box h6 {
		width: 84px;
		height: 84px;
		margin-top: -42px;
	 }
	 .timeline-row {
		padding-bottom: 100px;
	 }
	 .timeline-row:nth-child(2n+2) {
		padding-left: 2%;
	 }
	 .timeline-row:last-child {
		padding-bottom: 50px;
	 }
	 .timeline-box::after,
	 .timeline-row:nth-child(2n+2)::after,
	 .timeline-row::after {
		width: 30px;
		height: 30px;
	 }
	 .timeline-row:last-child .timeline-box h6 {
		margin-top: -35px;
		font-size: 14px;
		width: 70px;
		height: 70px;
	 }
  }
  
  @media screen and (max-width: 1024px) {
	 h1 {
		font-size: 44px;
	 }
	 h2 {
		font-size: 36px;
	 }
	 h3 {
		font-size: 28px;
	 }
	 h4 {
		font-size: 26px;
	 }
	 h5 {
		font-size: 22px;
	 }
	 h6 {
		font-size: 18px;
	 }
	 p,
	 li {
		font-size: 16px;
	 }
	 .timeline-sec {
		padding: 0px 0 80px 0;
	 }
	 .timeline-row .horizontal-line,
	 .timeline-row .verticle-line,
	 .corner {
		display: none;
	 }
	 .timeline-row::after,
	 .timeline-row:nth-child(2n+2)::after {
		display: none;
	 }
	 .timeline-box::after,
	 .timeline-row:nth-child(2n+2) .timeline-box::after {
		-webkit-transform: translate(-50%, 100%) rotate(90deg);
		transform: translate(-50%, 100%) rotate(90deg);
		top: 50%;
		left: 50%;
	 }
	 .timeline-box::after,
	 .timeline-row:nth-child(2n+2)::after,
	 .timeline-row::after {
		width: 26px;
		height: 26px;
	 }
	 .timeline-box:last-child p{
		left: -20px;
	 }
	 .timeline-row {
		padding-bottom: 0;
	 }
	 .timeline-box {
		width: 100%;
		padding-bottom: 30px;
	 }
	 .timeline-row:last-child {
		padding-bottom: 20px;
	 }
	 .timeline-row:nth-child(2n+2) .timeline-box {
		width: 100%;
	 }
	 .timeline-box h6 {
		width: 80px;
		height: 80px;
		margin-top: 0;
		margin: 0 auto;
	 }
	 .timeline-box p,
	 .timeline-row:nth-child(2n+2) .timeline-box p {
		width: 41%;
		margin: -40px 0 0 0;
	 }
	 .timeline-row:last-child .timeline-box h6 {
		margin-top: 0;
		font-size: 13px;
		width: 66px;
		height: 66px;
	 }
	 .timeline-row:nth-child(2n+2) {
		padding-left: 0;
	 }
	 .timeline-box p::before {
		left: auto;
		right: -17px;
		border-bottom: 0px solid   rgba(245,128,62,0.5);
		border-top: 15px solid   rgba(245,128,62,0.5);
		top: 0;
	 }
	 .timeline-box:nth-child(2n+2) {
		text-align: right;
	 }
	 .timeline-box:nth-child(2n+2) p {
		display: inline-block;
		text-align: left;
	 }
	 .timeline-box:nth-child(2n+2) p::before {
		left: -16px;
		right: auto;
		border-bottom: 0px solid  rgba(245,128,62,0.5);
		border-top: 15px solid  rgba(245,128,62,0.5);
		top: 0;
		border-left: 15px solid transparent;
	 }
	 .timeline-row:nth-child(2n+2) .timeline-box:nth-child(2n+1) {
		text-align: right;
	 }
	 .timeline-row:nth-child(2n+2) .timeline-box:nth-child(2n+1) p {
		display: inline-block;
		text-align: left;
	 }
	 .timeline-row:nth-child(2n+2) .timeline-box:nth-child(2n+1) p::before {
		left: -16px;
		right: auto;
		border-bottom: 0px solid   rgba(245,128,62,0.5);
		border-top: 15px solid   rgba(245,128,62,0.5);
		top: 0;
		border-left: 15px solid transparent;
	 }
	 .timeline-row:nth-child(2n+2) .timeline-box:nth-child(2n+2) {
		text-align: left;
	 }
	 .timeline-row:nth-child(2n+2) .timeline-box:nth-child(2n+2) p::before {
		left: auto;
		right: -16px;
		border-bottom: 0px solid   rgba(245,128,62,0.5);
		border-top: 15px solid   rgba(245,128,62,0.5);
		top: 0;
	 }
	 .verticle-line {
		display: block !important;
		left: 50%;
		z-index: -1;
		height: calc(100% - 0px) !important;
		transform: translate(-50%, 0%);
		-webkit-transform: translate(-50%, 0%);
	 }
	 .timeline-row:nth-child(2n+2) .verticle-line {
		left: 50%;
	 }
	 .timeline-row:nth-child(2n+2) {
		flex-direction: unset;
	 }
	 .timeline-row:nth-child(2n+2) .timeline-box:nth-child(3)::after {
		display: block;
	 }
	 #experiences .timeline-row:nth-child(2n) .timeline-box:nth-child(2n) div{
		display: block;
		width: 50%;				
	}	
	#experiences .timeline-row:nth-child(2n) .timeline-box:nth-child(2n+1) div{
		display: block;
		width: 50%;
		margin: 0 50vw;
	 }
	 #experiences .timeline-row:nth-child(2n+1) .timeline-box:nth-child(2n) div{
		display: block;
		width: 50%;				
		margin: 0 50vw;
	 }
	 #experiences .timeline-row:nth-child(2n+1) .timeline-box:nth-child(2n+1) div{
		display: block;
		width: 50%;
	 }	

	#mySelf, #skills, #experiences {
		padding: 25px 0;
	}
  }
  
  @media screen and (max-width: 900px) {
	section{
		position: relative;	
		scroll-margin-top: 90px;
	}
	.fullPage{
		height: auto;
	}	
	#skills .col-md-4{
		background-image: none;
		border-bottom: solid 1px #F5803E;
		margin-bottom: 10px;		
	}
  }
  @media screen and (max-height: 800px) {
	.fullPage{
		height: auto;
	}
  }

  @media screen and (max-width: 767px) {
	 h1 {
		font-size: 40px;
	 }
	 h2 {
		font-size: 31px;
	 }
	 h3 {
		font-size: 26px;
	 }
	 h4 {
		font-size: 24px;
	 }
	 h5 {
		font-size: 20px;
	 }
	 h6 {
		font-size: 16px;
	 }
	 p,
	 li {
		font-size: 15px;
	 }
	 .timeline-sec {
		padding: 0px 0 70px 0;
	 }
	 .timeline-box h6 {
		width: 70px;
		height: 70px;
	 }
	 .timeline-row:last-child .timeline-box h6 {
		font-size: 12px;
		width: 60px;
		height: 60px;
	 }
	 .font-weight-normal p br {
		display: none;
	 }
	 .timeline-row:last-child {
		padding-bottom: 0;
	 }
	 .timeline-box p,
	 .timeline-row:nth-child(2n+2) .timeline-box p {
		width: 40%;
		margin: -38px 0 0 0;
	 }
	 #informatiqueLanguages img{
		max-width: 150px;
	}
  }
  
  @media screen and (max-width: 640px) {
	 h1 {
		font-size: 36px;
	 }
	 h2 {
		font-size: 28px;
	 }
	 h3 {
		font-size: 24px;
	 }
	 h4 {
		font-size: 22px;
	 }
	 h5 {
		font-size: 18px;
	 }
	 h6 {
		font-size: 16px;
	 }
	 p,
	 li {
		font-size: 14px;
	 }
	 .timeline-sec {
		padding: 0px 0 60px 0;
	 }
	 .timeline-box h6 {
		margin: 0;
	 }
	 .verticle-line,
	 .timeline-row:nth-child(2n+2) .verticle-line {
		left: 35px;
	 }
	 .timeline-row:last-child {
		justify-content: flex-start;
		display: inline;
	 }
	 .timeline-row:last-child .timeline-box {
		margin: 0 0 0 6px;
	 }
	 .timeline-box {
		text-align: right;
		padding-bottom: 20px;
	 }
	 .timeline-box p,
	 .timeline-row:nth-child(2n+2) .timeline-box p {
		width: 78%;
		margin: -38px 0 0 0;
		display: inline-block;
		text-align: left;
		font-size: 13px;
	 }
	 .timeline-box p::before,
	 .timeline-row:nth-child(2n+2) .timeline-box:nth-child(2n+2) p::before {
		left: -15px;
		right: 0;
		border-bottom: 0px solid rgba(245,128,62,0.5);
		border-top: 15px solid  rgba(245,128,62,0.5);
		top: 0;
		border-top: 15px solid rgba(245,128,62,0.5);
		border-left: 15px solid transparent;
		border-right: 0px solid transparent;
	 }
	 .timeline-box:nth-child(2n+2) p::before,
	 .timeline-row:nth-child(2n+2) .timeline-box:nth-child(2n+1) p::before {
		left: -15px;
	 }
	 .timeline-row:nth-child(2n+2) .timeline-box:nth-child(2n+2) {
		text-align: right;
	 }
	 .timeline-box::after,
	 .timeline-row:nth-child(2n+2)::after,
	 .timeline-row::after {
		width: 24px;
		height: 24px;
		left: 35px;
	 }
	 .timeline-box::after,
	 .timeline-row:nth-child(2n+2) .timeline-box::after {
		left: 35px;
	 }	 
  }
  
  @media screen and (max-width: 480px) {
	 h1 {
		font-size: 33px;
	 }
	 h2 {
		font-size: 26px;
	 }
	 h3 {
		font-size: 22px;
	 }
	 h4 {
		font-size: 20px;
	 }
	 h5 {
		font-size: 16px;
	 }
	 h6 {
		font-size: 15px;
	 }
	 .timeline-box p,
	 .timeline-row:nth-child(2n+2) .timeline-box p {
		width: 70%;
		padding: 15px;
	 }
	 .timeline-sec {
		padding: 0px 0 50px 0;
	 }
	 .timeline-box:last-child p {
		left : auto;
	 }
  }